.App {
  text-align: center;
  height: 100vh;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  
  background-color: #006C67;
  width: 15rem;
  margin-bottom: 1rem;
}
.bg{
  background-color: #006C67;
}
.footer{
  background-color: #006C67;
  height: 5rem;
}
.icon-footer{
  font-size: 2rem;
  color: white;
  margin-top: 1.5rem;
  letter-spacing: 2rem;
}
.titulo{
  
    text-align: left;
    font-size: 2.3em;
    height: auto;
    text-transform: uppercase;
    border-radius: 1em;
}
